/*CSS File um das Aussehen des Login zu gestalten*/
/*Autor: Rahel Illi*/
/*Date: 23.04.2018*/

/*******************************************/
/*  CSS STYLE SHEET STRAWBEERY SAVER Login */
/*******************************************/

/**/
.login{
    height:100%;
    padding-bottom: 3%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
}
/*ENDE - */

/**/
.login_box{
    height:100%;
    padding-bottom: 3%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    max-width: 500px;
}
/*ENDE - */