/*CSS File um das Aussehen des Login zu gestalten*/
/*Autor: Rahel Illi*/
/*Date: 25.04.2018*/

/****************************************************/
/*  CSS STYLE SHEET STRAWBEERY SAVER PlantsOverview */
/****************************************************/


/*Bild zu der jeweiligen Planze wird hier in der Pflanzenbox nach rechts gesetzt*/
#plantImage{
    float: right;
    width: 50%;
    height: 50%;
}
/*ENDE - Bild zu der Pflanze*/