/*CSS File um das Aussehen der Website zu gestalten*/
/*Autor: Rahel Illi*/
/*Date: 22.03.2018*/

/**************************************/
/*  CSS STYLE SHEET STRAWBEERY SAVER  */
/**************************************/

/*Responsive Design*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the leftnav (.icon) */
@media screen and (max-width: 800px) {
    .leftnav a:not(.menuheader) {display: none;}
    .leftnav a.icon {
        float: right;
        display: block;
    }

}

/* The "responsive" class is added to the leftnav with JavaScript when the user clicks on the icon. This class makes the leftnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .leftnav.responsive {position: sticky;}
    .leftnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .leftnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

.icon{
    display: none;
}
/*Ende Responsive Design*/


/*Eigentliche Seite (Rest ohne Menu)*/
#seite{
    margin-left:300px; /*Muss der gleiche Wert sein wie bei ul {width} - gibt das Verhältnis von Menu und Seite an*/
    height:100%;
    padding-bottom: 3%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
}


/*Body*/
body {
    margin: 0;
}


/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position:fixed;
    height: 100%;
    overflow: auto;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
    border-color: black;
}

li a:focus{
    background-color: #555;
    color: white;
    text-decoration: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.menuheader {
    background-color: #4CAF50;
    color: white;
}

li a:hover{
    text-decoration: none;
    color: black;
}

li a:hover:not(.menuheader){
    background-color: #555;
    color: white;
}


/*Klassen zum Anzeigen bzw. nicht Anzeigen der Unterpunkte*/
.menuunterpunkt{
    display: none;
    background:white;
}

.menuunterpunkt_pflanze_hide{
    display: none;
    background:white;
}

.menuunterpunkt_sensor{
    display: block;
    background:white;
}

.menuunterpunkt_sensor_hide{
    display: none;
    background:white;
}

.menuunterpunkt_nutzer{
    display: block;
    background:white;
}

.menuunterpunkt_nutzer_hide{
    display: none;
    background:white;
}

.menuunterpunkt_pflanze{
    display: block;
    background:white;
}






